@import "../../servises/smart-grid.scss";
.container {
  max-width: 740px;
  margin-bottom: 10px;
  @include sm-block {
    margin-bottom: 20px;
  }
  @include xs-block {
    overflow: hidden;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  @include xs-block {
    flex-direction: column;
    overflow: hidden;
  }

  .img {
    @include size(7);
    @include size-md(8);
    @include size-sm(10);
    @include size-xs(24);
    margin-bottom: 5px;
    position: relative;

    img {
      max-width: 100%;
    }

    .duration_min {
      position: absolute;
      top: 83%;
      left: 83%;
      display: inline-flex;
      flex-wrap: wrap;
      padding: 2px;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      border-radius: 2px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.9);
    }
    .duration_max {
      position: absolute;
      top: 83%;
      left: 75%;
      display: inline-flex;
      flex-wrap: wrap;
      padding: 2px;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      border-radius: 2px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.9);
    }
  }

  .content {
    margin-left: 10px;
    @include size(12);
    @include size-md(12);
    @include size-sm(10);
    @include size-xs(20);

    .title {
      display: flex;
      flex-wrap: wrap;

      .headline {
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
      }

      .info {
        margin-right: 15px;
        line-height: 18px;
        overflow: hidden;
        font-size: 13px;
        font-weight: 400;
        color: #797979;
      }
    }

    .descr {
      padding-top: 8px;
      margin-bottom: 8px;
      display: block;
      line-height: 18px;
      max-height: 36px;
      font-size: 13px;
      font-weight: 400;
      color: #606060;

      @include xs-block {
        display: none;
      }
    }
  }
}
